.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  padding: 0.125rem 0.5rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 500;
  width: fit-content;
  white-space: nowrap;
  flex-shrink: 0;
  gap: 0.25rem;
  transition: color 0.2s, box-shadow 0.2s;
  overflow: hidden;
}

.badge :global(svg) {
  width: 0.75rem;
  height: 0.75rem;
  pointer-events: none;
}

.badge:focus-visible {
  outline: none;
  border-color: hsl(var(--ring));
  box-shadow: 0 0 0 3px hsla(var(--ring) / 0.5);
}

.badge[aria-invalid="true"] {
  border-color: hsl(var(--destructive));
  box-shadow: 0 0 0 3px hsla(var(--destructive) / 0.2);
}

.default {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

:global(a).default:hover {
  background-color: hsla(var(--primary) / 0.9);
}

.secondary {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}

:global(a).secondary:hover {
  background-color: hsla(var(--secondary) / 0.9);
}

.destructive {
  background-color: hsl(var(--destructive));
  color: hsl(var(--destructive-foreground));
}

.destructive:focus-visible {
  box-shadow: 0 0 0 3px hsla(var(--destructive) / 0.2);
}

:global(a).destructive:hover {
  background-color: hsla(var(--destructive) / 0.9);
}

.outline {
  border-color: hsl(var(--border));
  color: hsl(var(--foreground));
}

:global(a).outline:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}