.card {
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid hsl(var(--border));
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.header {
  container-type: inline-size;
  container-name: card-header;
  display: grid;
  grid-template-rows: auto auto;
  align-items: flex-start;
  gap: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header:has([data-slot="card-action"]) {
  grid-template-columns: 1fr auto;
}

.header[class*="border-b"] {
  padding-bottom: 1.5rem;
}

.title {
  line-height: 1;
  font-weight: 600;
}

.description {
  color: hsl(var(--muted-foreground));
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  grid-column-start: 2;
  grid-row: span 2 / span 2;
  grid-row-start: 1;
  align-self: flex-start;
  justify-self: flex-end;
}

.content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer[class*="border-t"] {
  padding-top: 1.5rem;
}