.container {
  position: relative;
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  caption-side: bottom;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-collapse: collapse;
}

.header {
  border-bottom: 1px solid hsl(var(--border));
}

.header :global(tr) {
  border-bottom: 1px solid hsl(var(--border));
}

.body :global(tr:last-child) {
  border: 0;
}

.footer {
  background-color: hsla(var(--border) / 0.3);
  border-top: 1px solid hsl(var(--border));
  font-weight: 500;
}

.footer :global(tr:last-child) {
  border-bottom: 0;
}

.row {
  border-bottom: 1px solid hsl(var(--border));
  transition: background-color 0.2s ease;
}

.row:hover {
  background-color: hsla(var(--border) / 0.2);
}

.row[data-state="selected"] {
  background-color: hsla(var(--border) / 0.4);
}

.head {
  color: hsl(var(--foreground));
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
  white-space: nowrap;
}

.cell {
  padding: 0.5rem;
  vertical-align: middle;
  white-space: nowrap;
}

.head:has([role="checkbox"]),
.cell:has([role="checkbox"]) {
  padding-right: 0;
}

.head [role="checkbox"],
.cell [role="checkbox"] {
  transform: translateY(2px);
}

.caption {
  color: hsl(var(--muted-foreground));
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}